body
  font-family: Arial, Helvetica, sans-serif
  font-weight: normal
  -webkit-font-smoothing: antialiased
  background-color: #363635

.navbar-website
  margin-bottom: 0
  background-color: #D75C37
  border-bottom: 0

.navbar-website .navbar-toggle .icon-bar
  background-color: #f5f5f5
  
.nav.navbar-nav a, a.navbar-brand
  color: #F5F5F5

.nav>li>a:focus, .nav>li>a:hover, .nav>li.active
  background-color: #B43D1A
  