nav.navbar.navbar-website.navbar-fixed-top(role="navigation")
    .container
        .navbar-header.page-scroll
            a.navbar-brand.page-scroll(href="#page-top")="Sachin Pande"
            a.navbar-toggle(data-toggle="collapse" data-target=".navbar-collapse")
                span.icon-bar
                span.icon-bar
                span.icon-bar
        .navbar-collapse.collapse
            ul.nav.navbar-nav
                li: a.page-scroll(href="#page-top")="Home"
                li: a.page-scroll(href="#about")="About Me"
                li: a.page-scroll(href="#contact")="Contact Me"